<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formPerfil">
      <ion-item>
          <ion-input type="text" formControlName="name" placeholder="Nombre"></ion-input>
          <span *ngIf="formPerfil.get('name').touched && formPerfil.get('name').hasError('required')">Required</span>
        </ion-item>
      
        <ion-item>
          <ion-input type="email" formControlName="email" placeholder="Correo"></ion-input>
          <span *ngIf="formPerfil.get('email').touched && formPerfil.get('email').hasError('required')">Required</span>
          <span *ngIf="formPerfil.get('email').touched && formPerfil.get('email').hasError('pattern')">Email is invalid</span>
        </ion-item>
      
        <ion-item>
          <ion-input type="number" formControlName="age" placeholder="Edad"></ion-input>
          <span *ngIf="formPerfil.get('age').touched && formPerfil.get('age').hasError('required')">Required</span>
        </ion-item>

        <ion-button type="button" (click)="guardar()" [disabled]="formPerfil.invalid">Guardar</ion-button>
  </form>
  
  <ion-button (click)="regresar()">Regresar</ion-button>
</ion-content>
