<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mis gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Button fixed -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Items card -->
  <ion-card *ngFor="let item of lists" routerLink="/list-details">
      <ion-card-header>
        <ion-card-title>
          <h3>{{item.name}}
            <span style="position: absolute; right: 0px; color: #2f8ce2">${{item?.total}}</span>
          </h3>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          {{item.date}}
          <span *ngIf="getStatus(item.status)" [ngClass]="cssStatus">{{txtStatus}}</span>
      </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h3>Lista
          <span style="position: absolute; right: 0px; color: #2f8ce2">$15.00</span>
        </h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        16 de enero del 2019
        <span style="position: absolute; right: 15px; color: #e73636">En proceso</span>
    </ion-card-content>
  </ion-card> -->
</ion-content>
