<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h3>
          Xbox One
          <span style="position: absolute; right: 10px; color: #2f8ce2">
            <ion-buttons>
                $6,500.00 <ion-icon slot="icon-only" name="more" style="color:#111; cursor: pointer;"></ion-icon>
            </ion-buttons>
          </span>
        </h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h3>
            Xbox One
            <span style="position: absolute; right: 10px; color: #2f8ce2">
              <ion-buttons>
                  $6,500.00 <ion-icon slot="icon-only" name="more" style="color:#111; cursor: pointer;"></ion-icon>
              </ion-buttons>
            </span>
          </h3>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h3>
              Xbox One
              <span style="position: absolute; right: 10px; color: #2f8ce2">
                <ion-buttons>
                    $6,500.00 <ion-icon slot="icon-only" name="more" style="color:#111; cursor: pointer;"></ion-icon>
                </ion-buttons>
              </span>
            </h3>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h3>
                Xbox One
                <span style="position: absolute; right: 10px; color: #2f8ce2">
                  <ion-buttons>
                      $6,500.00 <ion-icon slot="icon-only" name="more" style="color:#111; cursor: pointer;"></ion-icon>
                  </ion-buttons>
                </span>
              </h3>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
</ion-content>
